<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Hanzl-CV</title>
    <base href="{$base}">
    <link rel="stylesheet" href="template/style.css">
</head>
<body>

    <div class="head">
        <div class="foto">
            <img src="foto.jpg">
        </div>

        <div class="title">Martin Hanzl</div>
        <div class="subtitle">
            ?. ?. 1987
            <div class="separator"></div>
            Senior developer
        </div>
    </div>

    <div class="maincolumn">
        <h2>O mně</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id nisl sit amet nibh congue cursus a sit amet ipsum. Donec dignissim tincidunt nisl vel blandit. Nulla eros augue.</p>

        <h2>Pracovní zkušenosti</h2>

        <div class="exp">
            <div class="exp_period">2019&ndash;2019</div>
            <div class="exp_title">Programátor Python a PHP</div>
            <div class="exp_subtitle">SMART Comp., a.s. (Netbox)</div>
            <div class="exp_description">Python/Django, PHP, PL/pgSQL, Linux, Docker + Gitlab, síťová infrastruktura</div>
        </div>
    </div>

    <div class="rightcolumn">
        <h2>Kontakt</h2>

        <table class="style">
            <tr><td><b>A:&emsp;</b></td><td>???</td></tr>
            <tr><td><b>T:</b></td><td>??? ??? ???</td></tr>
            <tr><td><b>M:</b></td><td>hanzl.martin@gmail.com</td></tr>
        </table>

        <h2>Dovednosti</h2>

        <div class="skill">
            <div class="skill_title">Linux</div>
            <div class="skill_description">webservery, související protokoly, databáze a základní správa Donec dignissim tincidunt nisl vel blandit. Nulla eros augue.</div>
        </div>
    </div>

    <div style="clear: both"></div>

</body>
</head>
