<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hanzl-CV</title>
    <base href="{$base}">
    <link rel="stylesheet" href="template/style.css">
</head>
<body>

    <div class="head">
        <div class="photo">
            <img src="template/photo.jpg">
        </div>

        <div class="title">{$name}</div>
        <div class="subtitle">
            {$birthDate}
            <div class="separator"></div>
            senior developer
        </div>
    </div>

    <div class="maincolumn">
        <h2>O mně</h2>

        <p>{$about}</p>

        <h2>Pracovní zkušenosti</h2>

        <div class="exp" n:foreach="$jobs as $job">
            <div class="exp_period">{$job[period]|replace:' - ','–'}</div>
            <div class="exp_title">{$job[position]}</div>
            <div class="exp_subtitle">{$job[employer]}</div>
            <div class="exp_description">{$job[description]}</div>
        </div>

        <h2>Vzdělání</h2>

        <div class="exp" n:foreach="$educationSet as $education">
            <div class="exp_period">{$education[period]|replace:' - ','–'}</div>
            <div class="exp_title">{$education[title]}</div>
            <div class="exp_subtitle">{$education[school]}</div>
        </div>
    </div>

    <div class="rightcolumn">
        <h2>Kontakt</h2>

        <table class="style">
            <tr><td><b>A:&emsp;</b></td><td>{$address}</td></tr>
            <tr><td><b>T:</b></td><td>{$phone}</td></tr>
            <tr><td><b>M:</b></td><td>{$email}</td></tr>
        </table>

        <h2>Dovednosti</h2>

        <div class="skill" n:foreach="$skills as $title => $description">
            <div class="skill_title">{$title}</div>
            <div class="skill_description">{$description}</div>
        </div>

        <h2>Jazyky</h2>

        <div class="skill" n:foreach="$languages as $language => $level">
            <div class="skill_title">{$language}</div>
            <div class="skill_description">{$level}</div>
        </div>
    </div>

    <div style="clear: both"></div>

</body>
</html>
